/**************************************
*
* Shortcodes styles
*
***************************************/
/**************************************
*
* Buttons styles
*
***************************************/
button {
  font-family: inherit;
}

/**************************************
*
* Micellaneous styles
*
***************************************/
.tt-shortcode {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}
